/*$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$icon-color: #ffa500;*/
body {
  font: 100% $font-stack;
  color: $primary-color;
}
.search-icon {
  color: #FFF;
  font-size: 4em;
  right: 45%;
  padding: 12px 0px;
  overflow: visible;
}
.input-lg {
  height: 70px;
  background-color: #555;
  border-radius: 50px;
  width: 100%;
}
.form-control {
  color: #FFF;
}
.rand {
  display: inline;
  font-size: .65em;
}
.wiki {
  width: 250px;
  padding: 0;
  background-color: #555;
  border-radius: 50px;
}
